/*modal*/
.modal {
   border-radius: 10px !important;
}
.modal p {
   color: #1c1c1c !important;
   font-size: 25px;
   font-weight: 900;
}
.modal-footer {
   background: #f2f2f2 !important;
}
.closeIcon {
   cursor: pointer;
   color: black;
}
.modal-overlay {
   pointer-events: none !important;
}
