.contact h2 {
   color: #f1356d;
}
/* inputs */
.contact input {
   border-bottom: 2px solid #ddd !important;
   color: rgb(202, 202, 202);
   font-weight: 900;
   font-size: 20px !important;
   margin-bottom: 30px !important;
}
.contact input:focus {
   border-bottom: 1px solid #f1356d !important;
   box-shadow: 0 1px 0 0 #f1356d !important;
}
/* buttons */
.contact button {
   font-family: "Quicksand";
   font-weight: 900;
   font-size: 20px;
   width: 100px;
   background: #f1356d;
   color: #fff;
   border: 0;
   padding: 8px;
   border-radius: 8px;
   cursor: pointer;
}
