@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
   margin: 0;
   font-family: "Quicksand";
   color: rgb(202, 202, 202);
   background-image: url("./dojoBG.jpg");
}

.content {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
}

@media only screen and (max-width: 900px) {
   body {
      background-position-x: -300px;
   }
}
@media only screen and (max-width: 500px) {
   body {
      background-position-x: 100px;
   }
}
